$bg:  #181818;
$bg1: #282828;
$bg2: #383838;
$bg3: #585858;
$fg:  #d8d8d8;

$red:    #ab4642;
$orange: #dc9656;
$yellow: #f7ca88;
$green:  #a1b56c;
$cyan:   #86c1b9;
$blue:   #7cafc2;
$purple: #ba8baf;
$brown:  #a16946;

@import "main.scss";
