body {
    font: 12pt sans-serif;
    color: $fg;
    background-color: $bg;
    display: table;
    width: 100%;
}

/* sticky footer */
html, body { height: 100%; margin: 0; padding: 0; }
header, main, footer { display: table-row; }
header, footer { height: 1px; }
main { height: auto; }

header > div, main > div, footer > div {
    max-width: 800px;
    margin: 0px auto;
    padding: 1em;
    box-sizing: border-box;
}

header, footer {
    background-color: $bg1;
}

header img#logo {
    float: left;
}

header div#account {
    overflow: auto;
    text-align: right;
    min-width: 18em;
    margin-bottom: 1em;
}

header nav {
    text-align: center;
    clear: both;
}

footer {
    text-align: right;
}

form > div {
    margin: 0.5em 0;
}

form {
    margin: 2em 0;
}

input {
    background-color: $bg2;
    border: 1px solid $bg3;
    border-radius: 0.2em;
}

a, header a:visited { color: $blue; }
a:visited { color: $purple; }
